#title {
    position: relative;
    font-size: 14vw;
    -webkit-text-stroke: 0.3vw #329d52;
    text-transform: uppercase;
}

#title::before {
    content: attr(data-text);
    position: absolute;
}